
<div class='navbar navbar-expand-lg navbar-light bg-dark p-1'>
    <%= image_tag 'logo.png', style: 'height: 50px; width: auto; margin-left: 10px'; %>
</div>
<div id='charts_container' class='d-flex flex-column justify-content-start align-items-center'>
    <div 
        id="chart_one" 
        class="mb-5"
        style="height:400px;">
    </div>

    <div id="chart_two" style="height:400px;">
    </div>
</div>