<h1>I AM THE INDEX</h1>

<div id="chart_one" style="width:100%; height:400px;">

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.stockChart('chart_one', {
            rangeSelector: {
                selected: 1
            },

            title: {
                text: 'Austin Temperature'
            },

            series: [{
                name: 'Temperature',
                data: <%= @temperature_entries.collect {|entry| entry.tempf} %>
            }]
        });
    });
</script>